[Unit]
Description=Wownero Full Node
After=network-online.target
Wants=network-online.target

[Service]
User=wownero
Group=wownero
Environment="MONERO_RANDOMX_UMASK=1"
StateDirectory=wownero
LogsDirectory=wownero
Type=simple
PIDFile=/run/wownero/wownerod.pid
ExecStart={{ wownerod_path }} --config-file /etc/wownerod.conf --non-interactive

[Install]
WantedBy=multi-user.target
