check-updates=disabled
confirm-external-bind=1
data-dir=/var/lib/wownero
log-file=/var/log/wownero/wownerod.log
log-level=0
no-igd=1
p2p-bind-port={{ wownerod_p2p_port }}
p2p-use-ipv6=1
public-node=1
restricted-rpc=1
rpc-bind-ip=0.0.0.0
rpc-bind-ipv6-address=::0
rpc-bind-port={{ wownerod_rpc_port }}
rpc-use-ipv6=1
